# Importar Pandas

In [1]:
#importa pandas
import pandas as pd

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [ ]:
# Crea una Serie de los numeros 10, 20 and 10.

In [ ]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'
df = pd.Dataframe()

In [ ]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado

In [ ]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado

# Leer un dataframe

In [6]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

df_all=pd.read_csv("G:/Mi unidad/Cursos y Especializaciones/Programación en Python_Datux Perú/MisCódigos/ExamenFinal/src/pandas/avengers.csv")
df_all

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
...,...,...,...,...,...,...,...
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Inspeccionar un dataframe

In [3]:
# Muestra las primeras 5 filas del DataFrame.

In [5]:
# Muestra las primeras 10 filas del DataFrame.

In [6]:
# Muestra las últimas 5 filas del DataFrame.

# Tamaño del DataFrame

In [7]:
# Muestra el tamaño del DataFrame

# Data types en un DataFrame

In [8]:
# Muestra los data types del dataframe

# Editar el indice (index)

In [9]:
# Cambia el indice a la columna "fecha_inicio".

# Ordenar el indice

In [10]:
# Ordena el índice de forma descendiente

# Resetear el indice

In [11]:
# Resetea el índice